html {
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    box-sizing: border-box;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    width: calc(36px * 8);
}

.grid.loading {
    opacity: 0.5;
}

.grid.playing,
.grid.playing .pad {
    cursor: not-allowed;
}

.pad {
    display: inline-block;
    cursor: pointer;

    height: 35px;
    width: 35px;
    border: 0.1px solid #ffffff;
    border-radius: 50%;
}

.pad.active {
    background: #fffa7cab;
}

.grid:not(.playing) .pad:not(.active):hover {
    background-color: #fffb7c55;
}

button {
    font-family: monospace;
    width: 100px;
    cursor: pointer;
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
    border: none;
}

button:hover {
    background-color: #fffa7cab;
}

@media (min-width: 720px) {
    .pad {
        height: 60px;
        width: 60px;
    }
    .grid {
        width: calc(61px * 8);
    }
}
